# <center> Session 4: Python Programming Fundamentals 3 </center>
###  <center> <span style="color: blue"> Author, Mentor, Trainer:</span>  <span style="color: red">Sudhindra Goutam Vedanthi</span> </center>
###  <center> C3 Mentroring </center>
#### <center> This assignment is developed as part of "Python Programming for Data science and Engineering" Course</center>
**<center> Class Notebook for 03/23/2021 <center>**

#### Agenda: 

* Review of `print()` formatting 
* Review of strings and string manipulations
* Conditional Expressions - boolean and logical operators
* Conditional Execution - `if`, `elif`, `else` and nested `if` statements
* Iterations and Looping - `for`loops and conditional `while` loops
* Normal and Interrupted - Normal execution, Interrupted execution of loops using `break`, `continue`
* Lists and List operations

In [26]:
## Review print and formatting.
price = 49
txt = "The price is {} dollars"
print(txt.format(price))
print("The price is {} dollars".format(price))

The price is 49 dollars
The price is 49 dollars

In [27]:
price = 49
txt = "The price is {:.2f} dollars"
print(txt.format(price))

The price is 49.00 dollars

In [28]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [29]:
#Indexing the substitution variables
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [34]:
# Refer to the same value more than once
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [31]:
# Named Indexes
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

In [32]:
import math
import random
x = 4
y = 3
print("%0.0f to the power of %0.0f is %.0f, the random number is %0.4f" %(x, y, math.pow(x, y), random.random()))

4 to the power of 3 is 64, the random number is 0.6079

In [ ]:
## Write some programs with String manipulations.

### Conditional Execution
#### Boolean Expressions and Logical Operators

##### Boolean Expressions
1. Expressions with boolean operations
2. boolean operators: <, <=, ==, >, >=, !=
3. Examples: `x >= y`, `age == 8`, `limit < 100` etc.
4. Each of the boolear expressions will result in a `True` or `False`

##### Logical Operators
1. Combining boolean expressions to make compound statements
2. Logical Operators: and, or, not
3. Examples: `(age > 12) and (age <= 19)`, `(number == 6) or (number == 0)`, `not(result)`
4. Each of the boolean expressions must evaluate to either `True` or `False`

##### Conditional Execution

```python

# Simple Condition Execution
if x > 0:                  
 print('x is positive')

# Handling Negative Values
if x < 0:                  
 pass

# Alternate Execution
if x % 2 == 0:             
   print('x is even')
else:
   print('x is odd')

# Chained Conditionals
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')
    
# Nested Conditionals
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')
        
    else:
        print('x is greater than y')
```

In [37]:
x = 13
if x > 10:
    print("my number is greater than 10")
else:
    print("my number is less than 10")

my number is greater than 10

In [2]:
x = 0
if x >= 10:
    print("Hi")
elif (x > 0) and (x <10):
    print("Hello")
else:
    print("My dear Zero")

My dear Zero

In [40]:
x = 7
y = 6
if x == y:
    print('x and y are equal')
else:
    if x < y:
        print('x is less than y')

    else:
        print('x is greater than y')

x is greater than y

In [39]:
x = 7
y = 6
if x == y:
    print('x and y are equal')
elif x < y:
    print('x is less than y')
else:
    print('x is greater than y')

x is greater than y

**`for` loops**

for is an iterator over a list, sequence, or range.
**_syntax_**

```python
for variable in <range of values>:
      do the work
      
```

In [4]:
for x in range(0, 3):
    print("We're on time %d" % (x))

We're on time 0
We're on time 1
We're on time 2

In [5]:
for x in range(11):
    print(x, end ="  ")
print("blast off")

0  1  2  3  4  5  6  7  8  9  10  blast off

In [6]:
for x in range(10, -1, -1):
    print(x, end ="  ")

10  9  8  7  6  5  4  3  2  1  0

In [7]:
fruit = 'banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [8]:
for x in range(3):
    print(x)
else:
    print('Final x = %d' % (x))

0
1
2
Final x = 2

In [9]:
string = "Hello World"
for x in string:
    print(x, end=":")    # Change the character in end to single space, ;,: etc 
                         # and check the result

H:e:l:l:o: :W:o:r:l:d:

In [10]:
for n in range(11):
    print(f"{n}*{n} = {n*n}")

0*0 = 0
1*1 = 1
2*2 = 4
3*3 = 9
4*4 = 16
5*5 = 25
6*6 = 36
7*7 = 49
8*8 = 64
9*9 = 81
10*10 = 100

In [11]:
# Multiplication tables 1 through 10
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [12]:
for x in range(3):
    if x == 1:
        print(x)
        break

1

In [44]:
name = "Sudhindra Goutam Vedanthi"
for i in name:
        if i == 'x':
            break
        print(i, end= ":")
else:
        print('Done.')  # Will not execute?

S:u:d:h:i:n:d:r:a: :G:o:u:t:a:m: :V:e:d:a:n:t:h:i:Done.

In [17]:
for c in "Sudhindra":
    print(c, end="")

Sudhindra

In [18]:
for x in range(10, 21, 6):
    print(x)

10
16

In [25]:
for x in [1, 2, 3, 4]:
    print(x)

1
2
3
4

### `while - loop - else` clause

This lesson covers the `while-loop-else` -clause, which is unique to Python. The `else`-block is only executed if the `while`-loop is exhausted. You don’t know what that means? Check out this lesson to find out! Furthermore, you can find two examples below, which you can copy-paste and run to get a sense of what’s happening.

> Examples are like this

>> Example 1:
>>>   ```Python
>>>      n = 5
>>>      while n > 0:
>>>          n = n - 1
>>>          if n == 2:
>>>             break
>>>          print(n)
>>>      else:
>>>          print("Loop is finished")
>>>    ```

In [45]:
n = 7
while n > 2:
    n = n - 1
    if n == 2:
        break
    print(n)
else:
    print("Loop is finished")

6
5
4
3

In [16]:
n = 5
while n > 0:
    n = n - 1
    if n == 2:
        continue
    print(n)
else:
    print("Loop is finished")

4
3
1
0
Loop is finished

In [19]:
#repetition
x = 1
while x < 11:
    print(x, end =" :: ")
    x = x + 1  # x +=1

1 :: 2 :: 3 :: 4 :: 5 :: 6 :: 7 :: 8 :: 9 :: 10 ::

In [47]:
name = "James Stewart"
#name = " "
while name:
    print(name, end = "::")
    name = name[1:]

 ::

In [21]:
a, b = 0, 10
while a <= b:
    print(a, end = ":")
    a +=1

0:1:2:3:4:5:6:7:8:9:10:

In [49]:
x = 10
while True:    #infinite loop
    print(x)
    x -=1
    if x == 0:
        break
print(" I'm done ")

10
9
8
7
6
5
4
3
2
1
 I'm done

In [23]:
x = 10
while x:
    x = x -1
    if (x % 2) == 0:
        continue
    print(x, end = ":")

print("Hello")

9:7:5:3:1:Hello

In [24]:
x = 10
while x:
    x = x -1
    if (x % 2) == 0:
    continue
print(x ,end= " :: ")

IndentationError: expected an indented block (<ipython-input-24-b3062201df13>, line 5)

## Lists in Python

Lists are one of Python’s most useful built-in types.

Like a string, a list is a sequence of values. In a string, the values are characters; in a list,
they can be any type. The values in a list are called **elements** or sometimes **items**.

There are several ways to create a new list; the simplest is to enclose the elements in square
brackets (`[]`):
`
[10, 20, 30, 40]

['frog', 'ram', 'lark']
`

* The first example is a list of four integers. 
* The second is a list of three strings. 
* The elements of a list don’t have to be the same type. 
* The following list contains a string, a float, an integer, and (lo!) another list:
`['spam', 2.0, 5, [10, 20]]`

* A list within another list is nested.
* A list that contains no elements is called an empty list; you can create one with empty brackets, `[]`.
* As you might expect, you can assign list values to variables:

```Python
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)
['Cheddar', 'Edam', 'Gouda'] [42, 123] []
```

* Lists are mutable. 
* You can overwrite specific elements. 
* add/update/append/delete specific elements

In [ ]:
fruits = ['banana', 'pineapple', 'apple', 'pears', 'kiwi', 'grapes', 'guava', 'persimmon']

In [ ]:
fruits

In [ ]:
fruits[0]

In [ ]:
fruits[7]

In [ ]:
fruits[99]

In [ ]:
fruits[0] = 'nanaba'

In [ ]:
fruits

In [ ]:
## Slicing Lists
print("Slicing Lists")
print(fruits[:3])
print(fruits[1:-1])
print(fruits[4:])
print(fruits[-5:-3])

print("Concatenate Lists and Repeat Lists")
print(fruits + ['mango', 'oranges'])
print(fruits)
fruits[0] = 'banana'
print(fruits*3)

In [ ]:
## Type Specific Operations on Lists
## append(), pop(), sort(), reverse()

og_fruits = fruits
print(og_fruits)
fruits = og_fruits
fruits.append('mango')
print(fruits)
fruits.pop(1)

print(fruits)
fruits.sort()
print(fruits)
fruits.reverse()
print(fruits)

In [ ]:
## Nested Lists

M = [[1, 2, 3],             # A 3 × 3 matrix, as nested lists
     [4, 5, 6],             # Code can span lines if bracketed
     [7, 8, 9]]

In [ ]:
M

In [ ]:
M[1]

In [ ]:
M[1][2]

In [ ]:
col2 = [row[1] for row in M]

In [50]:
col2

NameError: name 'col2' is not defined

In [ ]:
col2new = [row[1] + 1 for row in M]

In [ ]:
col2new

In [ ]:
filteredcol = [row[1] for row in M if row[1] % 2 == 0] # Filter out odd items

In [ ]:
filteredcol

In [ ]:
doubles = [c * 2 for c in 'spam']
print(doubles)

In [ ]:
diag = [M[i][i] for i in [2, 1, 0]] # Non-mutating action
print(diag)
print(M)

In [ ]:
listFromRange1 = list(range(11))
listFromRange1

In [ ]:
list_from_range2 = list(range(5, 26))
list_from_range2

In [ ]:
list_from_range3 = list(range(-10, 11, 2))
list_from_range3

In [ ]:
range(10)

In [ ]:
print(range(10))

In [ ]:
print(range(5, 26))

In [ ]:
print(range(-100, 101, 10))

In [ ]:
[[x ** 2, x ** 3] for x in range(4)]

In [ ]:
_   # last output in the buffer, works with only the expressions that generate an output.

In [ ]:
_

In [ ]:
newvalue = 2

In [ ]:
_

In [ ]:
my_special_list = [[x, x / 2, x * 2] for x in range(-6, 7, 2) if x > 0]

In [ ]:
_  # Assignment operator does not produce any output to buffer. 
   # So the previous output in the buffer will be printed.

In [ ]:
newlistfrombuffer= _

In [ ]:
newlistfrombuffer

In [ ]:
newvalue

In [ ]:
_ + 4

In [ ]:
## M = [[1, 2, 3],             # A 3 × 3 matrix, as nested lists
##     [4, 5, 6],             # Code can span lines if bracketed
##     [7, 8, 9]]

G = (sum(row) for row in M) # Iteration that creates sums of the rows - Generator Object
G

In [ ]:
next(G)

In [ ]:
print(G)

In [ ]:
list(map(sum, M))

In [ ]:
{sum(row) for row in M}

In [ ]:
{i : sum(M[i]) for i in range(3)}     # Creates key/value table of row sums

In [ ]:
a = [1, 2, 3, 4, 5]
b = a                    # Referencing, works as an alias
print(a, b)
b.pop()                  # Removes elements in both a and b, because both are pointing to the same location
print(a, b)


### Common list literals and operations
**Operation**                         |         **Interpretation**    |


```python
L = []                                    # An empty list
L = [123, 'abc', 1.23, {}]                # Four items: indexes 0..3
L = ['Bob', 40.0, ['dev', 'mgr']]         # Nested sublists
L = list('spam')                          # List of an iterable’s items,
L = list(range(-4, 4))                     list of successive integers
L[i]                                       Accessing List Items, Index
L[i][j]                                    Index of Index
L[i:j]                                     Slice
len(L)                                     Length
L1 + L2                                    Concatenate, repeat
L * 3                                      Repeat
for x in L: print(x)                       Iteration
3 in L                                     Membership
L.append(4)                                Method: growing : Append
L.extend([5,6,7])                          Method: growing : Extend
L.insert(i, X)                             Method: growing : Insert
L.index(X)                                 Method: searching
L.count(X)                                 Method: searching
L.sort()                                   Method: sorting
L.reverse()                                Method: reversing
L.copy()                                   Method: copying (3.3+)
L.clear()                                  Method: clearing (3.3+)
L.pop(i)                                   Method: shrinking
L.remove(X)                                Method: shrinking
del L[i]                                   Statements: Shrinking
del L[i:j]                                 Statements: Shrinking                  
L[i:j] = []                                Index assignment - Empty List Assignment                   
L[i] = 3                                   Index assignment, 
L[i:j] = [4,5,6]                           Slice assignment
L = [x**2 for x in range(5)]               List Creation from iteration
list(map(ord, 'spam'))                     
```

In [ ]:
list(map(ord, 'spam'))

In [ ]:
L = ['Goutam', 22, True, 12.45]
L

In [ ]:
newL = L[:]
newL

In [ ]:
newL[0] = 'Sudhindra'
newL, L